<input/>
<br>
<button>Previous</button>
<button>Next</button>
<br>
<button (click)="add(1)">1</button>
<button (click)="add(2)">2</button>
<button (click)="add(3)">3</button>
<br>
<button (click)="add(4)">4</button>
<button (click)="add(5)">5</button>
<button (click)="add(6)">6</button>
<br>
<button (click)="add(7)">7</button>
<button (click)="add(8)">8</button>
<button (click)="add(9)">9</button>
<br>
<button>+</button>
<button>-</button>
<button>*</button>
<button>/</button>
<button>=</button>
